@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


body{
background-color:#170D0D;
font-family: 'Oswald'
}

header{
  display:flex;
  padding: 10px;
  min-height: 150px;
  justify-content:space-between; 
  align-items: center;
  background-color:#491B1B;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img{
  height: 170px;
  margin-right: 10px;
}

a{
  text-decoration: none;
  color: wheat;
  font-weight: 1000;
  padding-right :10px;
  font-size: large; 
}

nav a:hover{
  color: white;
  font-size: x-large;
}


@media(max-width:900px){
header{
  flex-direction: column;
}

nav{
  padding:10px 0px ;
}
}



h2{
  text-align:center;
  color:white;
  font-size:xx-large;
  padding: 20px;
}


p{
  padding: 10px;
  color:wheat;
  font-size: x-large;
  text-align: center;
}

.imagen{
  text-align: center;
  object-fit: cover;
}

  footer{
    background-color:black;
   color:white;
  }
